<?xml version="1.0"?>
<robot
  name="estrella_v2">
  <link
    name="estrella_link">
    <inertial>
      <origin
        xyz="-0.039439 0.05 0.11106"
        rpy="0 0 0" />
      <mass
        value="0.19787" />
      <inertia
        ixx="15"
        ixy="-8.807E-21"
        ixz="-1.0857E-19"
        iyy="15"
        iyz="9.5218E-21"
        izz="15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brazo/meshes/estrella_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://brazo/meshes/estrella_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo reference= "estrella_link">
    <material>Gazebo/Blue</material>
    <mu1>100.0</mu1> 
    <mu2>100.0</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>
</robot>